@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins bg-white text-[#20262A] m-0 p-0 box-border;
  }
}

/* Toggle Switch Styles */
.slider {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #e5e5e5;
  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: black;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ded6d2;
}

input:checked + .slider::before {
  transform: translateX(20px);
}
